.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

:root {
  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
  --color-white: hsl(252, 30%, 100%);
  --color-gray: hsl(252, 15%, 65%);
  --color-light: hsl(252, 30%, 90%);
  --color-dark: hsl(252, 30%, 17%);
  --color-primary: hsl(252, 75%, 60%);
  --color-success: hsl(120, 95%, 60%);
  --color-danger: hsl(0, 95%, 65%);
  --color-black: hsl(252, 30%, 10%);
  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: 0;
  font-family: "Inter var experimental", "Inter var", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, " Fira Sans ", " Droid Sans ", "sans-serif"
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}